<% content_for :top_content do %>
  <div class="jumbotron">
    <div class="container text-center">
      <h1>Bienvenue sur la plateforme du projet St. Brieuc!</h1>
      <p>Accès à la base de données des actions.</p>
      <p>
        <%= link_to 'Base de données', secret_path, class: 'btn btn-primary btn-lg' %>
      </p>
    </div>
  </div>
<% end %>